@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Section 1

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section:nth-child(1) {
    background-image: url(/img/plant-background.webp);
    background-position: right;
    background-size: cover;

    .fp-overflow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        background-color: rgba($color: #f3f3f3, $alpha: .4);
        padding: 30px;
        height: 900px;
        width: 100%;
    }
}

.text-overlay span {
    color: rgb(23, 167, 25);
    font-style: italic;
}

// Section 1 end
// Slide 1

/* Slide 1 styling */

.slide:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
}



input {
    font-family: "Josefin Sans", sans-serif;
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    border: 2px rgb(0, 48, 0) solid ;
}

button {
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
    background-color: rgb(0, 48, 0);;
    color: rgb(255, 239, 239);
    border: 2px white solid;
}

#formMessage {
    font-family: "Josefin Sans", sans-serif;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
    color: red;
    // width: 60%;
}

#formMessage p {
    width: 300px;
}

// Slide 1 end


h2 {
    font-family: "Yeseva One", serif;
    font-size: 80px;
    color: rgb(0, 48, 0);
}

h2:nth-child(1) {
    font-family: "Yeseva One", serif;
}


// // Slide 2

.section:nth-child(2) {
    overflow-y: auto;

    .header-hero {
        position: relative;
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(90deg, rgba(23, 167, 25, 0.2), rgba(255, 255, 255, 0)), url(/img/hero-background-2.webp);
        background-size: cover;
        background-position: right;
        height: 480px;
    }
    
    .header-hero::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 35px;
        height: 35px;
        background: url(/img/pppp.svg) no-repeat;
        background-size: contain;
        z-index: 1;
        margin: 20px;
    }

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.header-hero::before {
    animation: rotating 10s linear infinite;
}

    
    .header-hero span {
        color: rgb(23, 167, 25);
        font-style: italic;
        position: relative; /* Ensure span content is above the SVG */
        z-index: 2;
    }

    h1 {
        font-family: "Yeseva One", serif;
        font-size: 100px;
        // margin-top: 100px;
        color: rgb(0, 48, 0);
    }

    .body-container {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .fp-overflow {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

.full-width-select {
    width: 25%;
    margin: 5px;
}



.filter-holder {
    padding-top: 10px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    width: 96.5%; 
}

.filters {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 49%;
    border-radius: 20px;
    background: linear-gradient(rgba(255, 246, 216, .45), rgba(23, 167, 25, 0.45));
    overflow: hidden;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.56);
    

    h2 {
        font-size: 26px;
        font-weight: 300;
        margin-right: 5px;
        margin-top: 8px;
    }

    button, select {
        font-family: "Josefin Sans", sans-serif;
        font-size: 16px;
        color: rgb(0, 48, 0);
        background-color: rgb(255, 246, 216);
        padding: 10px;
        border-radius: 15px;
        border: 2px solid rgb(0, 48, 0);
        margin-right: 10px;
        margin-top: 5px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    select:hover, button:hover {
        color: rgb(23, 167, 25);
        background-color: rgb(255, 246, 216);
        border: 2px solid rgb(23, 167, 25);
    }
}

.filters::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/plants.svg) top/cover no-repeat;
    opacity: 0.2; /* Adjust the opacity value as needed */
    z-index: 1;
    transition: ease-in-out 2s;
}

.filters:hover:before {
    transform: scale(1.1);
    opacity: 0.5;

}

.filters * {
    position: relative;
    z-index: 2;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px;
    margin-top: 20px;
    width: 49%;
    border-radius: 20px;
    background: linear-gradient( rgba(255, 246, 216, .468), rgba(23, 167, 25, 0.468));

    h2 {
        font-size: 26px;
        font-weight: 300;
        margin-right: 5px;
    }

    button, select {
        font-family: "Josefin Sans", sans-serif;
        font-size: 16px;
        color: rgb(0, 48, 0);
        background-color: rgb(255, 246, 216);
        padding: 10px;
        border-radius: 15px;
        border: 2px solid rgb(0, 48, 0);
        margin-right: 10px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 5px;
    }
    
    select:hover, button:hover {
        color: rgb(23, 167, 25);
        background-color: rgb(255, 246, 216);
        border: 2px solid rgb(23, 167, 25);
    }
}

.button-holder {
    padding-top: 10px;
}

    /* CARDS */
    
    #results {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 95%;
        gap: 20px;
        max-height: 500px;
        z-index: 30;
    }
    
    .card {
        border: rgb(10, 60, 11) solid 2px;
        border-radius: 22px;
        width: 100%;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.56);
        -webkit-box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.56);
        -moz-box-shadow: 4px 3px 13px 1px rgba(0, 0, 0, 0.56);
        transition: transform 0.5s ease-in-out;
    }

    // @keyframes jiggle {
    //     0%, 100% {
    //         transform: rotate(0deg);
    //     }
    //     25% {
    //         transform: rotate(1deg);
    //     }
    //     50% {
    //         transform: rotate(-1deg);
    //     }
    //     75% {
    //         transform: rotate(1deg);
    //     }
    // }
    
    .card:hover {
        transform: rotate(-1deg);
    }
    
    .card-details {
        position: relative;
        background: linear-gradient(rgba(255, 246, 216, .45), rgba(23, 167, 25, 0.45));
        padding: 20px;
        height: 130px;
        font-family: "Josefin Sans", sans-serif;
        color: rgb(10, 60, 11);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
    }
    
    .card-details::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/img/plants.svg) top/200% 200% no-repeat;
        opacity: 0.2; /* Adjust the opacity value as needed */
        z-index: 1;
        transition: ease-in-out 2s;

    }

    .card-details:hover:before {
    transform: scale(1.1);
    opacity: 0.5;
    }
    
    .card-details * {
        position: relative;
        z-index: 2;
    }
    
    .card-details h3 {
        font-family: "Yeseva One", serif;
        font-size: 20px;
        margin-bottom: 1px;
    }
    
    .card-details h4 {
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .card-details h5 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .card-details h6 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    .card-img {
        width: 100%;
        height: auto;  /* Ensure the image maintains its aspect ratio */
        object-fit: contain;  /* Adjust this if needed (cover, fill, etc.) */
        display: block;  /* Remove any extra space below the image */
    }


    /* SWIPER CSS */

    .swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }

    .swiper-pagination {
        padding: 4px;
        background-color: rgb(23, 79, 23);
        border-radius: 16px
    }

    .swiper-pagination-bullet {
        background-color: rgb(219, 219, 219);
        width: 10px;
        height: 10px;
    }

    .swiper-pagination-bullet:active {
        background-color: rgb(0, 255, 102);
    }

/* SWIPER CSS END */

/* Modal */

dialog {
    z-index: 10;
    position: fixed;
    width: 65%;
    height: 70vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    border: none;
    position: relative;
    padding-bottom: 42px;
}

dialog::backdrop {
    background-image: linear-gradient(rgb(63, 63, 63,0.8), rgb(0, 0, 0,0.8));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.close-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    border: none;
    background-color: rgb(23, 79, 23);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}


.close-modal:hover {
    background-color: rgb(23, 167, 25);
}

.modal-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-contents img {
    border: 2px ;
    padding-top: 20px;
    width: 60%;
    object-fit: cover;
}

.modal-contents h2 {
    margin-top: 15px;
    font-size: 35px;
    text-align: center;
}

.modal-contents h4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    color: rgb(23, 79, 23);
    font-size: 30px;
    margin-top: 2px;
}

.modal-contents h5 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    color: rgb(32, 161, 9);
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 20px;
}

.modal-contents h6 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
    color: rgb(23, 79, 23);
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 16px;
}

.modal-contents span {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(23, 79, 23);
    font-size: 18px;
    font-weight: 800;
}

.modal-contents p {
    font-family: "Josefin Sans", sans-serif;
    color: rgb(23, 79, 23);
    margin-top: 15px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 400;
}

.plant-care-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    gap: 20px;
    margin-top: 10px;
}

.plant-care {
    position: relative;
    padding: 10px;
    width: 100%;
    background: linear-gradient(rgba(255, 246, 216, .45), rgba(23, 167, 25, 0.468));
    border-radius: 12px;
    overflow: hidden;
}

.plant-care::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/img/plants.svg) top/150% 150% no-repeat;
    opacity: 0.2; /* Adjust the opacity value as needed */
    z-index: 1;
}


.plant-care * {
    position: relative;
    z-index: 2;
}


/* Media Queries */

@media screen and (max-width: 1200px) {

#results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
    gap: 20px;
    max-height: 500px;
    z-index: 30;
}

}

@media screen and (max-width: 992px) {

    #results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .header-hero {
        margin-top: 0px;
    }

    .filters {
        display: flex;
        flex-direction: column;
        width: 48%;

        select,button {
            width: 32%;
            margin: 0px;
        }
    }

    .button-holder {
        width: 90%;
    }

    .section:nth-child(2) { 
        h1 {
            font-size: 80px;
            padding: 10px;
        }
    }

    .filter-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plant-care::before {
        background: url(/img/plants.svg) top/180% 180% no-repeat;
    }

    dialog {
        z-index: 10;
        position: fixed;
        width: 80%;
        height: 60vh;
    }

}


@media screen and (max-width: 600px) {

    #results {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .header-hero {
        margin-top: 155px;
    }

    .section:nth-child(2) { 
        h1 {
            padding: 0px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .filter-container {
        display: flex;
        flex-direction: column;
    }

    .filters {
        flex-direction: column;
        width: 100%;

        select, button {
            width: 30%;
            margin: 0px;
        }
    }

    h2 {
        font-family: "Yeseva One", serif;
        font-size: 60px;
        color: rgb(0, 48, 0);
    }

    .section:nth-child(2) { 
        h1 {
            font-size: 60px;
            border-radius: 30px;
        }
    }

    .plant-care-container {
        grid-template-columns: repeat(1, 1fr);
    }

    dialog {
        z-index: 10;
        position: fixed;
        width: 80%;
        height: 60vh;
    }
    

    .form-container {
        width: 80%;
    }

}